.main-content {
    background-image: url('https://us.123rf.com/450wm/msmoloko/msmoloko1703/msmoloko170300033/73680552-dark-tropical-background-with-jungle-plants-seamless-vector-tropical-pattern-with-green-phoenix-palm.jpg');
    background-repeat: repeat;
    background-position: top;
    background-size: 500px 500px;
    background-attachment: fixed;
    
    main {
        height: auto;
    }
}